html {
    font-family: Calibri;
    background: rgb(24, 234, 206);
    padding: 2rem;
    color:darkblue;
    font-size: x-large;
}

body {
    max-width: 950px;
    margin: 0 auto;
    font-size: x-large;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Cochin;
    margin: 3rem 0;
    text-align: center;
    font-size: xx-large;
}

a {
    color: rgb(118, 100, 237);
    font-family: Arial;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: AntiqueWhite;
    padding: 0 0.7rem;
    border-radius: 50px;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.75rem;
    margin: 0 10px;
}

.content {
    padding: 0 1rem 1rem;
    background: rgb(247, 230, 250);
    border-radius: 25px;
    font-size: x-large;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #d9ecf8;
    border: 1px solid darkred;
}

input[type="submit"] {
    background: rgb(125, 25, 240);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: x-large;
    transition: background-color 0.3s ease;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: x-large;
}